/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Kim Anh
ID: s3939240
Acknowledgement: W3school How To.
*/
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: monospace;
    
  
}

body {
    background-image: url(reb.avif);
}


.wt {
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    padding-bottom: 80px;
    padding-top: 30px;
    margin-top: 80px;

    
}
    
 a {
    text-decoration: none;
    }
    
li {
    list-style: none;
    }



/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color:rgb(87, 155, 177);
    height: 2cm;
    }
    
.nav-links a {
    color: black;
    }
    
    

/* DROPDOWN MENU */

.services {
    position: relative; 
    }

    
.dropdown {
    background-color: rgb(87, 155, 177);
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
    }
    
.dropdown li + li {
    margin-top: 10px;
    }
    
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    
.dropdown li:hover {
    background-color:rgb(87, 155, 177);
    }
    
.services:hover .dropdown {
    display: block;
    }    
  
.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    font-family: monospace;
    }
    
.menu a:hover {
    color:whitesmoke ;
   
   
    }
    
.menu li {
    padding: 10px 14px;
    }
    

input[type=checkbox] {
    display: none;
    }        

 .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
        }

@media (max-width: 960px) {
    .menu {
        display:none;
        position: absolute;
        background-color:rgb(87, 155, 177);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        }
        
    .menu li:hover {
        display: inline-block;
        color:whitesmoke;
        transition: 0.3s ease;
        }
        
    .menu li + li {
        margin-top: 12px;
        }
    input[type=checkbox]:checked ~ .menu {
        display: block;
        }   
        
        
    .hamburger {
        display: block;
        }
}



input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
  }
  
  
  input[type=submit] {
    background-color: rgb(87, 155, 177);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=reset] {
    background-color: rgb(87, 155, 177);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: bisque;
  }
  input[type=reset]:hover {
    background-color: bisque;
  }
  
 
  .form {
    border-radius: 5px;
    background-color:rgb(223, 120, 87);
    padding: 20px;
    margin: 100px;
    margin-top: 100pxpx;
  }
  section {
    width: 100%;
    display: inline-block;
    background-image: url(reb.avif);
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  button {
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button {
    background-color: rgb(87, 155, 177);
    color: black;
    border: 2px solid rgb(87, 155, 177);
  }
  
  button:hover {
    background-color: whitesmoke;
    color:rgb(223, 120, 87) ;
    border: 2px solid rgb(223, 120, 87)
    
    
  }

.h1 {
    font-size: 8px;
}    
   

.container {
    margin-top: 30px;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
 
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
 
  .container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(87, 155, 177);
  }
  
 
  .container:hover input ~ .checkmark {
    background-color: bisque;
  }
  
 
  .container input:checked ~ .checkmark {
    background-color: rgb(87, 155, 177);
    
  }
  

  .container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
   
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 35px;
  }
  
  
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  

  .radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(87, 155, 177);
    border-radius: 50%;
  }
  
  
  .radio:hover input ~ .checkmark {
    background-color: bisque;
  }
  
  
  .radio input:checked ~ .checkmark {
    background-color: rgb(87, 155, 177);
  }
  
 
  .radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
 
  .radio input:checked ~ .checkmark:after {
    display: block;
  }
  
 
  .radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background:black;
  }
  
  .footer-distributed{
      background-color:rgb(87, 155, 177);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
      color: black;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  black
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  black;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
     
      color:black;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-solid {
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: black;
      font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  black;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  black;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color: black;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      border-radius: 2px;
  
      font-size: 20px;
      color: black;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
@media (max-width: 960px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }

    
  
  
