/*RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Nguyen Kim Anh
ID: s3939240
Acknowledgement: W3school How To.
*/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  
}

body {
    background-image: url(reb.avif);
}


.wt {
    text-align: center;
    font-size: 60px;
    font-family: monospace;
    padding-bottom: 80px;
    padding-top: 30px;

    
}
    
 a {
    text-decoration: none;
    }
    
li {
    list-style: none;
    }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background-color:rgb(87, 155, 177);
    height: 2cm;
    }
    
.nav-links a {
    color: black;
    }
    
    
    
  
.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
    font-family: monospace;
    }
    
.menu a:hover {
    color:whitesmoke ;
   
   
    }
    
.menu li {
    padding: 10px 14px;
    }
    

input[type=checkbox] {
    display: none;
    }        

 .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
        }

@media (max-width: 960px) {
    .menu {
        display:none;
        position: absolute;
        background-color:rgb(87, 155, 177);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        }
        
    .menu li:hover {
        display: inline-block;
        color:whitesmoke;
        transition: 0.3s ease;
        }
        
    .menu li + li {
        margin-top: 12px;
        }
    input[type=checkbox]:checked ~ .menu {
        display: block;
        }   
        
        
    .hamburger {
        display: block;
        }
}


h1 {
    font-size: 40px;
    word-break: break-all;
    font-family: monospace;
    margin: 10px 20px;
    
    

   
  }
  
  .row {
    margin: 8px -8px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgb(223, 120, 87);
    
    
  }
  
 
  .row,
  .row > .column {
    padding: 8px;

  }
  
 
  .column {
    float: left;
    width: 25%;
   
  
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: rgb(248, 244, 234);
    padding: 30px;
    text-align: center;
  }

  .content img{
    width: 250px;
    height: 400px;
  }
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  section {
    width: 100%;
    display: inline-block;
    background-image: url(reb.avif);
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }
  button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  button {
    background-color: rgb(87, 155, 177);
    color: black;
    border: 2px solid rgb(87, 155, 177);
  }
  
  button:hover {
    background-color: whitesmoke;
    color:rgb(223, 120, 87) ;
    border: 2px solid rgb(223, 120, 87)
    
    
  }

  
  .footer-distributed{
      background-color:rgb(87, 155, 177);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  

  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
 
  
  .footer-distributed h3{
      color: black;
      margin: 0;
  }
  
  .footer-distributed h3 span{
      color:  black
  }
  

  
  .footer-distributed .footer-links{
      color:  black;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
     
      color:black;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-solid {
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: black;
      font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  black;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  black;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color: black;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      border-radius: 2px;
  
      font-size: 20px;
      color: black;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
 
  
@media (max-width: 960px) {
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }

    
  
  
